
  <div class="new-exam">
    <mat-horizontal-stepper linear #stepper [selectedIndex]="stepperIndex">
        <mat-step label="اسم المادة" [completed]="open">
            <div class="AddSubject text-right">
                <div>اسم المادة : </div>
                <mat-form-field appearance="fill" color="warn">
                    <mat-label>اسم المادة</mat-label>
                    <input matInput type="text" [formControl]="name" >
                </mat-form-field>
                <button color="warn"  mat-raised-button matStepperNext (click)="openTap()">ابدأ</button>
            </div>

        </mat-step>
        <mat-step label="اسئلة{{subjectName}}" completed="true">
            <div class="question">
                <form  [formGroup]="QuestionForm">
                    <mat-form-field appearance="outline" color="warn" class="queiz">
                        <mat-label>السؤال</mat-label>
                        <input matInput type="text" formControlName="questions"  >
                    </mat-form-field>

                <div class="row">
                        <div class="col-md-6 col-sm-12 d-flex justify-content-space-between align-items-center">
                        <mat-radio-button value="answer1"  (change)="correctValue($event)" color="warn"></mat-radio-button>
                            <mat-form-field color="warn">
                                <mat-label>أجابة A</mat-label>
                                <input matInput type="text" class="pt-2" formControlName="answer1">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6 col-sm-12  d-flex justify-content-space-between align-items-center">
                        <mat-radio-button value="answer2" (change)="correctValue($event)" color="warn"></mat-radio-button>
                            <mat-form-field color="warn">
                                <mat-label>أجابة B</mat-label>
                                <input matInput type="text" formControlName="answer2" >
                            </mat-form-field>

                        </div>

                        <div class="col-md-6 col-sm-12 d-flex justify-content-space-between align-items-center">
                        <mat-radio-button value="answer3" (change)="correctValue($event)" color="warn"></mat-radio-button>
                        <mat-form-field color="warn">
                                <mat-label>أجابة C</mat-label>
                                <input matInput type="text" formControlName="answer3"  >
                            </mat-form-field>
                        </div>

                        <div class="col-md-6 col-sm-12 d-flex justify-content-space-between align-items-center">
                            <mat-radio-button value="answer4" (change)="correctValue($event)" class="pt-5" color="warn"></mat-radio-button>
                            <mat-form-field color="warn">
                                <mat-label>أجابة D</mat-label>
                                <input matInput type="text" formControlName="answer4" >
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="questBtn">
                        <div>
                          <button mat-raised-button color="primary"  disabled="{{ questionArray.length?false :true}}" (click)="submit()">{{openLastTap ? "عرض" : "انتهاء"}}</button>
                            <button mat-raised-button color="warn"  (click)="canceled()">الغاء</button>
                        </div>
                        <div>
                            <button mat-raised-button color="accent" (click)="DeletQues()">حذف </button>
                            <button mat-raised-button color="primary" (click)="saveData()"  [disabled]="QuestionForm.invalid">حفظ</button>
                        </div>

                    </div>
                </form>
            </div>
        </mat-step>
        <mat-step label="عرض الاختبار"   [completed]="openLastTap">
            <div class="examBox">
                <div class="examhead text-center"><h2>اختبار{{subjectName}}</h2></div>
                <div class="quizBox" *ngFor="let item of questionArray;let i = index">
                    <strong><span class="text-danger">سؤال 1</span> .  {{item.question}}</strong>
                    <div class="row" dir="rtl">
                        <div class="col-sm-12">
                          A.{{item.answer1}}
                        </div>
                        <div class="col-sm-12">
                          B.{{item.answer2}}
                        </div>
                        <div class="col-sm-12">
                            C. {{item.answer3}}
                        </div>
                        <div class="col-sm-12">
                            D. {{item.answer4}}
                        </div>
                        <div class="col-sm-12">
                            <span class="text-success">الاجابة الصحيحة {{item.rightAnswer}} </span>
                        </div>
                    </div>
                    <div class="text-right">
                        <!-- <button mat-raised-button class="btn btn-warning" >تعديل</button> -->
                        <button mat-raised-button  class="btn btn-danger" (click)="omit(i)" >حذف</button>
                    </div>
                    <hr>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
  </div>
